.open-table {
  width: 300px;
  margin: auto;
}

.back-to-top {
  z-index: 10000;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  line-height: 50%;
  text-align: center;
  background: white;
  border: 1px;
  color: black;
  border-radius: 67px;
  font-weight: lighter;
  cursor: pointer;
  display: none;
}

i.back-to-top-icon {
  font-size: 3em;
  padding-top: 7px;
}

.barLink {
  color: #FFFFFF;
  white-space: nowrap;
}

.barLink:hover {
  color: #C69C6D;
}

.maitred {
  background-image: url("../img/Serguei Kourokhtine.jpg");
  background-size: cover;
  border: 2px solid #c69c6d;
  border-radius: 50%;
  margin: 1em 0 0 0;
  height: 80px;
  width: 80px;
}

.post-date {
  color: #6c9bae;
  font-family: 'merriweather-italic', serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.post-title {
  color: white;
  font-family: 'merriweather-italic', serif;
  font-size: 1.4rem;
  margin: 1em 0 0 0;
}

.post {
  font-size: 1.25rem;
}

.hide {
  display: none;
}
