@import url('//fonts.googleapis.com/css?family=Montserrat');

body,
.site-title > a,
.site-description,
#site-primary-menu.sf-menu > .menu-item > a,
.widget > .widget-title,
.site-column-content > .site-column-wrapper > .page-title,
#site-main .site-column-content > .site-column-wrapper > .page-title.archives-title {
  font-family: 'Montserrat', sans-serif
}

#site-primary-menu.sf-menu > .menu-item > a {
  color: white;
}

#site-primary-menu.sf-menu > .menu-item.current-menu-item > a {
  color: #c69c6d
}

#site-primary-nav > .site-section-wrapper-primary-menu {
  background-color: #101e4b;
}

.site-title > a {
  color: #101e4b;
}

.page-title:after {
	display: none
}

.entry-descriptor > .entry-descriptor-span > .entry-date {
	color: #c69c6d;
}

.widget .cat-item,
.widget > ul > li > a {
	text-transform: uppercase
}

.widget .cat-item.current-cat > a {
	color: #c69c6d;
	text-decoration: none;
}

#site-column-content.site-column {
	width: 100%;
}

.site-credit > .theme-credit {
	display: none;
}

#site-header-extra {
  flex: auto;
  text-align: right;
}

#site-header-extra > #site-header-widgets > .widget {
  display: inline-block;
  width: 80%;
}

.jetpack_subscription_widget > .widget-title {
  margin: 0;
}

@media screen and (max-width: 1068px) {
  .page-header-default .site-section-wrapper > #site-header-extra,
  .page-header-centered .site-section-wrapper > #site-header-extra {
    text-align: center;
    width: 100%;
  }

  #subscribe-blog-blog_subscription-7 > #subscribe-email {
    display: block;
    width: 100%;
  }

  #subscribe-email > input {
    padding: 0.3em;
    width: 100%;
  }

  #subscribe-blog-blog_subscription-7 > #subscribe-submit {
    display: block;
    width: 100%;
  }

  #subscribe-submit > input[type="submit"] {
    margin: 0.5em 0 0 0;
    padding: 1em;
    width: 100%;
  }
}

#subscribe-email {
  display: inline-block;
  width: 40%;
}

#subscribe-email > input {
  padding: 0.3em;
  width: 100%;
}

#subscribe-submit {
  display: inline-block;
  width: auto;
}

#subscribe-submit > input[type="submit"] {
  border-radius: 3px;
}
